body{
    background-color: #fafafa;
}

.custom-card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* button{
    color: #fff !important;
    font-weight: 500 !important;
} */